# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [ ]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [ ]:
# Your code here:
n_rows, n_cols = df.height, df.width
print(f"Rows: {n_rows:,}")
print(f"Columns: {n_cols}")

Rows: 6,000
Columns: 8

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [ ]:
# Your code here:
print("\nSchema:")
print(df.schema)

Schema:
Schema([('Carat Weight', Float64), ('Cut', String), ('Color', String), ('Clarity', String), ('Polish', String), ('Symmetry', String), ('Report', String), ('Price', Int64)])

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

**Your answer:** Each row represents: An individual diamond and its specific characteristics.

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [ ]:
# Your code here:
total_carats = df["Carat Weight"].sum()
print(f"Total carats in inventory: {total_carats}")

Total carats in inventory: 8007.120000000001

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [ ]:
# Your code here:
unique_cuts = df.select(pl.col("Cut").n_unique())
print(unique_cuts)

shape: (1, 1)
┌─────┐
│ Cut │
│ --- │
│ u32 │
╞═════╡
│ 5   │
└─────┘

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [ ]:
# Your code here:
# Most valuable diamond
most_valuable = df.sort("Price", descending=True).head(1)

# Least valuable diamond
least_valuable = df.sort("Price").head(1)

print("Most valuable diamond:")
print(most_valuable)

print("\nLeast valuable diamond:")
print(least_valuable)

Most valuable diamond:
shape: (1, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬────────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price  │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---    │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64    │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪════════╡
│ 2.79         ┆ Ideal ┆ D     ┆ IF      ┆ EX     ┆ EX       ┆ GIA    ┆ 101561 │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴────────┘

Least valuable diamond:
shape: (1, 8)
┌──────────────┬──────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut  ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---  ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str  ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 0.77         ┆ Good ┆ I     ┆ VS1     ┆ VG     ┆ G        ┆ AGSL   ┆ 2184  │
└──────────────┴──────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [ ]:
# Your code here:
# Median price by color grade
df.group_by("Color").agg(
    pl.col("Price").median().alias("median_price")
).sort("median_price", descending=True)

shape: (6, 2)
┌───────┬──────────────┐
│ Color ┆ median_price │
│ ---   ┆ ---          │
│ str   ┆ f64          │
╞═══════╪══════════════╡
│ F     ┆ 8860.0       │
│ G     ┆ 8800.0       │
│ D     ┆ 7567.0       │
│ H     ┆ 7169.0       │
│ E     ┆ 7059.5       │
│ I     ┆ 6655.0       │
└───────┴──────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain = one row per diamond colour, with the median price for that colour

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [ ]:
# Your code here:
df.group_by("Clarity").agg([
    pl.len().alias("diamond_count"),
    pl.col("Price").median().alias("median_price"),
    pl.col("Carat Weight").sum().alias("total_carats")
]).sort("median_price", descending=True)

shape: (7, 4)
┌─────────┬───────────────┬──────────────┬──────────────┐
│ Clarity ┆ diamond_count ┆ median_price ┆ total_carats │
│ ---     ┆ ---           ┆ ---          ┆ ---          │
│ str     ┆ u32           ┆ f64          ┆ f64          │
╞═════════╪═══════════════╪══════════════╪══════════════╡
│ FL      ┆ 4             ┆ 62371.5      ┆ 7.87         │
│ IF      ┆ 219           ┆ 12647.0      ┆ 316.0        │
│ VVS1    ┆ 285           ┆ 11142.0      ┆ 389.43       │
│ VVS2    ┆ 666           ┆ 10266.0      ┆ 876.58       │
│ VS1     ┆ 1192          ┆ 9245.0       ┆ 1682.74      │
│ VS2     ┆ 1575          ┆ 7568.0       ┆ 2170.81      │
│ SI1     ┆ 2059          ┆ 5417.0       ┆ 2563.69      │
└─────────┴───────────────┴──────────────┴──────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [ ]:
# Your code here:
df.group_by(["Cut", "Color"]).agg([
    pl.col("Price").median().alias("median_price")
]).sort(["Cut", "Color"])

shape: (30, 3)
┌───────────┬───────┬──────────────┐
│ Cut       ┆ Color ┆ median_price │
│ ---       ┆ ---   ┆ ---          │
│ str       ┆ str   ┆ f64          │
╞═══════════╪═══════╪══════════════╡
│ Fair      ┆ D     ┆ 5040.0       │
│ Fair      ┆ E     ┆ 4908.5       │
│ Fair      ┆ F     ┆ 4628.0       │
│ Fair      ┆ G     ┆ 4646.0       │
│ Fair      ┆ H     ┆ 4358.0       │
│ …         ┆ …     ┆ …            │
│ Very Good ┆ E     ┆ 6703.0       │
│ Very Good ┆ F     ┆ 8330.0       │
│ Very Good ┆ G     ┆ 8249.0       │
│ Very Good ┆ H     ┆ 6564.0       │
│ Very Good ┆ I     ┆ 6684.0       │
└───────────┴───────┴──────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain = per cut–color combination

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [ ]:
# Your code here:
# Q10 — Top 5 most valuable cut–color segments
top5_segments = (
    df
    .group_by(["Cut", "Color"])
    .agg([
        pl.col("Price").sum().alias("total_value"),
        pl.len().alias("count_diamonds"),
        pl.col("Carat Weight").sum().alias("total_carats")  # optional but useful
    ])
    .sort("total_value", descending=True)
    .head(5)
)

top5_segments

shape: (5, 5)
┌───────────┬───────┬─────────────┬────────────────┬──────────────┐
│ Cut       ┆ Color ┆ total_value ┆ count_diamonds ┆ total_carats │
│ ---       ┆ ---   ┆ ---         ┆ ---            ┆ ---          │
│ str       ┆ str   ┆ i64         ┆ u32            ┆ f64          │
╞═══════════╪═══════╪═════════════╪════════════════╪══════════════╡
│ Ideal     ┆ G     ┆ 9363514     ┆ 690            ┆ 966.9        │
│ Very Good ┆ G     ┆ 7140620     ┆ 578            ┆ 795.4        │
│ Very Good ┆ F     ┆ 5648327     ┆ 455            ┆ 592.77       │
│ Ideal     ┆ F     ┆ 5346782     ┆ 363            ┆ 502.01       │
│ Ideal     ┆ H     ┆ 5279687     ┆ 458            ┆ 653.15       │
└───────────┴───────┴─────────────┴────────────────┴──────────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use